@font-face {
    font-family: 'Bert Sans';
    src: url(../fonts/BertSans.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bert Sans';
    src: url(../fonts/BertSans-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bert Sans';
    src: url(../fonts/BertSans-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoreSansC';
    src: url(../fonts/CoreSansC-45Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoreSansC';
    src: url(../fonts/CoreSansC-55Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoreSansC';
    src: url(../fonts/CoreSansC-65Bold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoreSansC';
    src: url(../fonts/CoreSansC-75ExtraBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}