.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-980 {
  max-width: 980px;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-1000 {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-1360 {
  max-width: 1360px;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.flex {
  display: flex;
}

body {
  min-height: 100vh;
}
