.contacts {
  padding: 40px 0;
  position: relative;
  background-color: var(--blue-background);
  padding: 40px 0;
  border-radius: 0 0 100px 100px;

  @media (max-width: 768px) {
    border-radius: 0 0 40px 40px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    background-color: var(--white);
    top: 0;
    border-radius: 0 0 100px 100px;
    z-index: 0;

    @media (max-width: 768px) {
      height: 150px;
    }

    @media (max-width: 768px) {
      border-radius: 0 0 40px 40px;
    }
  }

  // .contacts__header
  &__header {
    // border-radius: 0 0 40px 40px;
    // background-color: var(--white);
  }
  // .contacts__h1
  &__h1 {
    font-weight: 800;
    line-height: 110%;
    color: var(--blue-1);
    // background-color: var(--white);
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
  }
  // .contacts__info
  &__info {
    border-radius: 0 0 0px 0px;
    background: var(--blue-background);
  }
  // .contacts__box
  &__box {
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  // .contacts__left
  &__left {
    flex: 1 1 480px;
    padding: 40px 0;
  }
  // .contacts__phone
  &__phone {
    margin-bottom: 40px;
    & span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      color: var(--gray);
      margin-bottom: 10px;
    }

    & a {
      display: block;
      position: relative;
      padding-left: 43px;
      font-weight: 500;
      font-size: 18px;
      color: var(--black);

      @media (max-width: 480px) {
        padding-left: 40px;
      }

      &::before {
        position: absolute;
        content: '';
        background-image: url(../../images/contacts/icon-phone.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;

        @media (max-width: 480px) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  // .contacts__email
  &__email {
    margin-bottom: 40px;
    & span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      color: var(--gray);
      margin-bottom: 10px;
    }
    & a {
      display: block;
      position: relative;
      padding-left: 43px;
      font-weight: 500;
      font-size: 18px;
      color: var(--black);
      @media (max-width: 480px) {
        padding-left: 40px;
      }

      &::before {
        position: absolute;
        content: '';
        background-image: url(../../images/contacts/icon-email.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;

        @media (max-width: 480px) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  // .contacts__address
  &__address {
    max-width: 480px;
    margin-bottom: 40px;
    & span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      color: var(--gray);
      margin-bottom: 10px;
    }
    & p {
      position: relative;
      padding-left: 43px;
      font-weight: 500;
      font-size: 18px;
      color: var(--black);

      @media (max-width: 480px) {
        padding-left: 40px;
      }

      &::before {
        position: absolute;
        content: '';
        background-image: url(../../images/contacts/icon-address.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;

        @media (max-width: 480px) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  // .contacts__time
  &__time {
    margin-bottom: 40px;
    & span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      color: var(--gray);
      margin-bottom: 10px;
    }
    & p {
      position: relative;
      padding-left: 43px;
      font-weight: 500;
      font-size: 18px;
      color: var(--black);

      @media (max-width: 480px) {
        padding-left: 40px;
      }

      &::before {
        position: absolute;
        content: '';
        background-image: url(../../images/contacts/icon-date.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;

        @media (max-width: 480px) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  // .contacts__right
  &__right {
    flex: 1 1 680px;
  }
}
