.disposal {
  padding: 40px 0;
  // .disposal__h1
  &__h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    color: var(--blue-1);
    margin-bottom: 40px;

    @media (max-width: 480px) {
      font-size: 26px;
    }
  }
  // .disposal__text
  &__text {
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 40px;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  // .disposal__text--blue
  &__text--blue {
    margin: 0 auto;
    max-width: 980px;
    font-weight: 600;
    font-size: 24px;
    color: var(--blue-1);
    margin-bottom: 40px;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  // .disposal__h2
  &__h2 {
    font-weight: 600;
    font-size: 24px;
    color: var(--black);
    margin-bottom: 20px;

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  // .disposal__h2--blue
  &__h2--blue {
    font-weight: 600;
    font-size: 24px;
    color: var(--blue-1);

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  // .disposal__h3
  &__h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    margin-bottom: 20px;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  // .disposal__cards
  &__cards {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  // .disposal__card
  &__card {
    flex: 1 1 280px;
    &--img {
      //   max-width: 280px;

      background: var(--blue-background);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;

      @media (max-width: 930px) {
        width: 100%;
      }
    }
  }
  // .disposal__subtitle--card
  &__subtitle--card {
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 10px;
    padding: 10px;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  // .disposal__list
  &__list {
    max-width: 250px;
    padding: 0 10px 10px 10px;

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }

  &__list--item {
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);

    @media (max-width: 480px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../../images/disposal__services/icon-quad.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      left: 0;
    }
  }

  //.disposal__items
  &__items {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
  }

  //.disposal__item
  &__item {
    flex: 1 1 280px;
    // max-width: 280px;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    align-items: center;
    background: var(--blue-background);

    & img {
      max-width: 60px;
    }

    & p {
      font-weight: 400;
      font-size: 16px;
      color: var(--black);

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }

  // .disposal__form
  &__form {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  // .disposal__form--box
  &__form--box {
    position: relative;
    gap: 20px;

    @media (max-width: 1030px) {
      flex-direction: column;
    }
    & input {
      width: 100%;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      padding: 10px 14px 10px 44px;
      box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
      background: var(--white);
    }

    &::after {
      position: absolute;
      content: '';
      background-color: var(--blue-background);
      width: 100%;
      height: 40px;
      top: 0;
      border-radius: 100px 40px 40px 40px;

      @media (max-width: 1030px) {
        display: none;
      }
    }
  }

  //.disposal__input--box
  &__input--box {
    position: relative;
    max-width: 320px;
    max-height: 40px;

    @media (max-width: 600px) {
      width: 100%;
      max-width: 100%;
    }

    &::before {
      position: absolute;
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
    }

    &--phone {
      &::before {
        background-image: url(../../images/disposal__services/icon-phone-grey.svg);
      }
    }

    &--text {
      &::before {
        background-image: url(../../images/disposal__services/icon-name-grey.svg);
      }
    }

    &--email {
      &::before {
        background-image: url(../../images/disposal__services/icon-email-grey.svg);
      }
    }
  }

  //.disposal__input
  &__input {
    padding-left: 40px;
  }

  //.disposal__submit
  &__submit {
    position: relative;
    color: #5b91d5;
    border: none;
    outline: none;

    & svg {
      @media (max-width: 480px) {
        width: 250px;
      }
    }

    & span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 14px;
      line-height: 110%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      white-space: nowrap;

      @media (max-width: 480px) {
        font-size: 12px;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url(../../images/disposal__services/icon-arrow-right-white.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 9px;
      }
    }
  }
  // .disposal__form--left
  &__form--left {
    flex: 1 1 700px;
    padding: 40px 20px;
    background: var(--blue-background);
    border-radius: 40px 0 40px 40px;

    @media (max-width: 1030px) {
      flex: 1 1 400px;
      order: 2;
      border-radius: 40px 40px 40px 40px;
    }
  }
  // .disposal__subtitle
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 20px;
  }
  // .disposal__text--underline
  &__text--underline {
    font-weight: 400;
    font-size: 12px;
    color: var(--gray);
  }
  // .disposal__form--right
  &__form--right {
    flex: 1 1 480px;
    align-items: flex-end;
    position: relative;

    @media (max-width: 1030px) {
      flex: 1 1 350px;
      align-items: center;
      justify-content: center;
      order: 1;
    }
  }
  // .disposal__services
  &__services {
  }

  // .disposal__services
  &__services--80 {
    margin-bottom: 80px;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.goals {
  // .goals__content
  &__content {
  }
  // .goals__left
  &__left {
  }
  // .goals__title
  &__title {
  }
  // .goals__title--1
  &__title--1 {
  }
  // .goals__list
  &__list {
  }
  // .goals__list--1
  &__list--1 {
  }
  // .goals__item
  &__item {
  }
  // .goals__right
  &__right {
  }
  // .goals__right--content
  &__right--content {
  }
  // .goals__header
  &__header {
  }
  // .goals__logo
  &__logo {
  }
  // .goals__title--2
  &__title--2 {
  }
  // .goals__list--2
  &__list--2 {
  }
  // .goals__right--img
  &__right--img {
  }
}
