.header {
  position: relative;
  overflow: hidden;
  max-width: 1360px;
  margin-inline: auto;

  & .container {
    @media (max-width: 1170px) {
      padding-inline: 0 10px;
    }
  }

  &__line {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-background);
    border-radius: 20px 20px 0 0;
    z-index: -1;

    @media (max-width: 1170px) {
      width: calc(100% - 20px);
      margin: 0 10px;
      border-radius: 20px 0 0 0;
    }
  }

  &__menu {
    padding: 25px 0;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__menu--mobile {
    display: none;
    @media (max-width: 1170px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      gap: 5px;
      width: 40px;
      height: 40px;
      background-color: var(--white);
      border-radius: 10px;
      cursor: pointer;
    }

    span {
      width: 24px;
      height: 3px;
      background-color: var(--blue-1);
      border-radius: 2px;
    }
  }

  &__logo {
    @media (max-width: 1170px) {
      padding: 0 10px 0 20px;
      margin-bottom: 5px;
    }
  }

  &__links {
    position: relative;
    gap: 40px;
    background: var(--white);
    border: 10px solid var(--blue-background);
    border-radius: 40px;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: -30px;
    padding: 15px 0;
    max-width: 850px;

    @media (max-width: 1170px) {
      display: none;
    }
  }

  &__contacts {
    gap: 20px;

    @media (max-width: 1170px) {
      background-color: var(--blue-background);
      padding: 20px;
      margin: 0 0 -10px auto;
      border-radius: 20px 20px 0 0;
    }
  }

  &__phone,
  &__email {
    gap: 10px;
  }

  &__phone,
  &__email {
    font-weight: 400;
    font-size: 14px;
  }

  &__phone {
    img {
      width: 18px;
      margin-bottom: 5px;
    }
  }

  &__email {
    img {
      width: 18px;
    }
  }

  &__messengers {
    align-items: center;
    gap: 5px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__telegram {
  }

  &__whatsapp {
  }
}
