.history {
  padding: 40px 0;

  &__content {
  }

  &__content--box {
    position: relative;
  }

  &__line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #cdcdcd;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    @media (max-width: 768px) {
      left: 0;
    }

    &--dot {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid var(--blue-2);
      border-radius: 22px;
      width: 11px;
      height: 11px;
    }

    &--dot-1 {
      top: 50px;
    }

    &--dot-2 {
      top: 50%;
      transform: translate(-50%);
    }

    &--dot-3 {
      bottom: 50px;
    }
  }

  &__h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: var(--blue-1);
    margin-bottom: 40px;

    @media (max-width: 480px) {
      font-size: 26px;
    }
  }

  &__box {
    justify-content: center;
    gap: 80px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding-left: 25px;
    }

    @media (max-width: 480px) {
      padding-left: 10px;
    }
  }

  &__left {
    flex: 1 1 50%;

    img {
      border-radius: 40px;
    }
  }

  &__left--image {
    @media (max-width: 768px) {
      order: 2;
    }
  }

  &__left--text {
    @media (max-width: 768px) {
      order: 1;
    }
  }

  &__right {
    flex: 1 1 50%;

    img {
      border-radius: 40px;
    }
  }

  &__right--image {
    @media (max-width: 768px) {
      order: 2;
    }
  }

  &__right--text {
    @media (max-width: 768px) {
      order: 1;
    }
  }

  &__text-box {
    max-width: 460px;
  }

  &__year {
    font-weight: 800;
    font-size: 50px;
    line-height: 110%;
    color: var(--blue-2);
    margin-bottom: 10px;

    @media (max-width: 480px) {
      font-size: 34px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    margin-bottom: 20px;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 20px;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__list {
    & li {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      color: var(--gray);
      padding-left: 48px;

      @media (max-width: 480px) {
        font-size: 14px;
        padding-left: 32px;
      }
    }

    & li::before {
      content: '';
      position: absolute;
      left: 0;
      height: 28px;
      width: 28px;
      background-image: url(../../images/02-history/icon-check.svg);
      background-color: rgba(115, 160, 216, 0.3);
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center center;
      border-radius: 50%;

      @media (max-width: 480px) {
        height: 20px;
        width: 20px;
        background-size: 10px;
      }
    }

    & li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
